
#card-left{
	background: #01ACBE 0% 0% no-repeat padding-box;
}
body{
	background: #141414 0% 0% no-repeat padding-box;
	

}


#project-text{
	font-family: Azonix;
	
	letter-spacing: 0px;
	color: white;
	opacity: 1;
	
	
}
.row{
	height: 19vw;
	margin: 3vw;
	
	
}
.card{
	background: #141414 0% 0% no-repeat padding-box;
}
#card-right{
	background: white;
	
}
.no-gutters:hover{
	opacity: .5;
}

